#sectionsNav {
    background-color: rgba(69, 68, 68, 0.4) !important;
}

.title, .apply {
    text-align: center;
}
.title h2{
    font-weight: bold;
}
.title span {
    font-family: lato;
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
.job-desc {
    padding: 20px;
    font-family: Lato;
}